@import "tailwindcss";

@font-face {
  font-family: "BZiba";
  src: url("/fonts/B_Ziba.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "AridiKoufi";
  src: url("/fonts/Mj_AridiKoufi.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

/* 🎨 TAILWIND THEME TOKENS */
@theme {
  --color-primary: #ec4899;
  --color-secondary: #f9a8d4;
  --color-accent: #a855f7;
  --color-yellow: #fcbe13;
  --color-bg: #ffffff;
  --color-surface: #f8fafc;
  --color-footer: #303030;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-lightback: #dcdcdc;
  --color-border: #e5e7eb;
  --color-hover: #fdf2f8;

  --font-sans: "BZiba", system-ui, sans-serif;
  --font-heading: "AridiKoufi", "BZiba", sans-serif;
}

/* 🌙 DARK THEME */
.dark {
  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-text: #f8fafc;
  --color-muted: #94a3b8;
  --color-border: #334155;
  --color-hover: #1e293b;
}

/* 🌐 GLOBAL BASE */
@layer base {
  body {
    @apply bg-bg text-text font-sans;
  }

  section {
    @apply bg-bg;
  }

  p {
    @apply text-muted font-sans;
  }
}

/* 🧱 COMPONENTS */
@layer components {
  .card {
    @apply bg-surface border border-border rounded-xl transition-all duration-200 hover:bg-hover hover:-translate-y-1;
  }

  .btn-primary {
    @apply bg-primary text-white px-5 py-2.5 rounded-xl transition hover:opacity-90;
  }

  .btn-secondary {
    @apply bg-secondary text-text px-5 py-2.5 rounded-xl;
  }

  .text-muted {
    @apply text-muted;
  }

  .badge {
    @apply bg-accent text-white text-xs px-2 py-1 rounded-full;
  }

  .nav-link {
    @apply text-muted;
  }

  .nav-link-active {
    @apply text-text font-bold;
  }

  .navbar-orders {
    @apply text-[14px] bg-bg;
  }

  .swiper-pagination-bullet {
    @apply bg-transparent opacity-100 m-0 p-0 shadow-none;
    width: auto !important;
    height: auto !important;
  }

  /* فاصله بین لوزی‌ها */
  .swiper-pagination {
    @apply flex gap-4  w-full  justify-center;
  }

  /* span بولت ما */
  .custom-bullet {
    @apply inline-flex cursor-pointer transition-all duration-300 outline-none focus:outline-none;
  }

  /* حالت active */
  .swiper-pagination-bullet-active .w-12\.5 {
    transform: scale(1.25);
  }
}

/* 📦 CONTAINER */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
  max-width: 1400px;

  @media (width >= 640px) {
    padding-inline: 1.5rem;
  }

  @media (width >= 1024px) {
    padding-inline: 2rem;
  }
}
